<h1>Available items!</h1>
{{new-item saveItem="saveItem"}}
<ul>
{{#each model as |item|}}
  {{item-tile item=item}}
  {{update-item update="update"}}
  <button {{action 'destroyItem' item}}></button>
{{/each}}

</ul>
